<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-brother-label-printer" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BrotherLabelPrinter</name>

    <asset src="www/BrotherLabelPrinter.js" target="js/BrotherLabelPrinter.js"/>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module name="BrotherLabelPrinter" src="www/BrotherLabelPrinter.js">
        <clobbers target="cordova.plugins.BrotherLabelPrinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="BrotherLabelPrinter">
                <param name="android-package" value="com.marketucan.plugins.BrotherLabelPrinter" />
            </feature>
        </config-file>

        <source-file src="src/android/BrotherLabelPrinter.java" target-dir="src/com/marketucan/plugins/" />
        <source-file src="src/android/libs/BrotherPrintLibrary.jar" target-dir="libs" />
        <source-file src="src/android/libs/arm64-v8a" target-dir="libs" />
        <source-file src="src/android/libs/armeabi" target-dir="libs" />
        <source-file src="src/android/libs/armeabi-v7a" target-dir="libs" />
        <source-file src="src/android/libs/x86" target-dir="libs" />
        <source-file src="src/android/libs/x86_64" target-dir="libs" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.USB" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

            <uses-feature android:name="android.hardware.usb" android:required="true" />
        </config-file>
    </platform>
</plugin>