<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-brother-label-printer" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BrotherLabelPrinter</name>
    <js-module name="BrotherLabelPrinter" src="www/BrotherLabelPrinter.js">
        <clobbers target="cordova.plugins.BrotherLabelPrinter" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="BrotherLabelPrinter">
                <param name="android-package" value="cordova.plugin.brother.label.printer.BrotherLabelPrinter" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/BrotherLabelPrinter.java" target-dir="src/cordova-plugin-brother-label-printer/BrotherLabelPrinter" />
    </platform>
</plugin>